/* Custom fonts */
@font-face {
  font-family: "Starsight";
  src: url("/fonts/Starsight.otf");
}

@font-face {
  font-family: "Doomsday-Dragon";
  src: url("/fonts/doomsdaysdragons.otf");
}

/* Custom variables */
:root {
  --text-white: rgb(252, 255, 237);
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
#app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #403e5e;
}

#menu {
  width: 25%;
}

#intro > h1 {
  text-align: center;
  font-family: "Doomsday-Dragon";
  font-size: 4rem;
  color: var(--text-white);
  letter-spacing: 5px;
  font-weight: 400;
  margin-bottom: 1rem;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#intro > p {
  text-align: center;
  font-family: "Starsight";
  color: var(--text-white);
  font-size: 1rem;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

hr {
  border: 2px solid var(--text-white);
}

#leaderboard > h1 {
  text-align: center;
  font-family: "Starsight";
  font-size: 2rem;
  color: var(--text-white);
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Link styling */

#sourceLink {
  padding: 10px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: background-color 0.5s;
}

#sourceLink:hover {
  background-color: rgb(86, 79, 195);
}

#sourceLink > a {
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  color: var(--text-white);
}

/* Spinner */
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#form {
  margin: 0rem 2rem 2rem 2rem;
  height: 20%;
  display: none;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form input[type="text"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: large;
  background-color: #747474;
  color: var(--text-white);
  letter-spacing: 1px;
}

#form label {
  font-family: "Starsight";
  color: var(--text-white);
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

#score {
  text-align: center;
  font-family: "Starsight";
  color: var(--text-white);
  letter-spacing: 3px;
  font-weight: 600;
  font-size: large;
}

#leaderboard thead th {
  font-family: "Starsight";
  color: var(--text-white);
  letter-spacing: 1px;
}

.leaderboard-results {
  text-align: left;
  border-collapse: collapse;
  padding-left: 20px;
}

#hiddenForm p {
  font-family: "Starsight";
  letter-spacing: 2px;
  color: var(--text-white);
  text-align: center;
  font-weight: 600;
  font-size: large;
}

#hiddenForm {
  margin: 2rem;
  height: 15%;
  display: flex;
  align-items: center;
}

.leaderboard-results thead th {
  padding: 10px 10px 10px 20px;
  color: #747474;
  font-size: 14px;
  font-weight: bold;
}

#submit {
  background-color: #57538b;
  border: none;
  color: white;
  font-family: "Starsight";
  padding: 0.5rem;
  transition: 0.5s;
  font-size: large;
  letter-spacing: 2px;
  font-weight: bolder;
}

#submit:hover {
  background-color: #746cdc;
  transition: 0.5s;
}
